.verifyCertificateContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 20px auto;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
  }
  